# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.output
.nuxt
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Env
.env
.env.local

# Temp
*.tmp
.temp
